<h3>C Test</h3>

<div id="quizsection">
    <div id="qst">
        Q1. Father of c language ?
    </div>
    <div id="opt">
       
        <ol>
            <li><input type="radio" name="q1" #r1 (click)="question1(r1.value)" value="0">Dennis Ritchie</li>
            <li><input type="radio" name="q1" #r2 (click)="question1(r2.value)" value="1">marks Thomas</li>
            <li><input type="radio" name="q1" #r3 (click)="question1(r3.value)" value="0">jones</li>
            <li><input type="radio" name="q1" #r4 (click)="question1(r4.value)" value="0">None</li>
        </ol>
       
    </div>
    <div id="qst">
        Q2. how many tyoe of DataType in c ? 
    </div>
    <div id="opt">
       
        <ol>
            <li><input type="radio" name="q2" #r5 (click)="question2(r5.value)" value="1">6</li>
            <li><input type="radio" name="q2" #r6 (click)="question2(r6.value)" value="0">4</li>
            <li><input type="radio" name="q2" #r7 (click)="question2(r7.value)" value="0">5</li>
            <li><input type="radio" name="q2" #r8 (click)="question2(r8.value)" value="0">None</li>
        </ol>
       
    </div>
    <div id="qst">
        Q3. Which looping structure in c language is known as entry controlled looping structure ?
    </div>
    <div id="opt">
       
        <ol>
            <li><input type="radio" name="q3" #r9 (click)="question3(r9.value)" value="0">do...while</li>
            <li><input type="radio" name="q3" #r10 (click)="question3(r10.value)" value="0">for loop</li>
            <li><input type="radio" name="q3" #r11 (click)="question3(r11.value)" value="1">while</li>
            <li><input type="radio" name="q3" #r12 (click)="question3(r12.value)" value="0">both a,b,c</li>
        </ol>
        
    </div>
    <div id="qst">
        Q4. c is a precedural language
    </div>
    <div id="opt">
        
        <ol>
            <li><input type="radio" name="q4" #r13 (click)="question4(r13.value)" value="0">True</li>
            <li><input type="radio" name="q4" #r14 (click)="question4(r14.value)" value="1">False</li>
            <li><input type="radio" name="q4" #r15 (click)="question4(r15.value)" value="0">can't say</li>
            <li><input type="radio" name="q4" #r16 (click)="question4(r16.value)" value="0">None</li>
        </ol>
        
    </div>
    <div id="qst">
        Q5. c language takes input using which function ?
    </div>
    <div id="opt">
        
        <ol>
            <li><input type="radio" name="q5" #r17 (click)="question4(r17.value)" value="1">printf()</li>
            <li><input type="radio" name="q5" #r18 (click)="question4(r18.value)" value="0">scanf()</li>
            <li><input type="radio" name="q5" #r19 (click)="question4(r19.value)" value="0">getch()</li>
            <li><input type="radio" name="q5" #r20 (click)="question4(r20.value)" value="0">None</li>
        </ol>
        
    </div>
    <div id="score">
        <button class="btn btn-danger" (click)="result()">Submit</button>{{score}}

    </div>
</div>

