/* You can add global styles to this file, and also import other style files */
#quizsection{
    margin-top: 20px;
    width: 100%;
    background-color: rgb(215, 198, 121);
    border: 2px solid;
}

#qst{
    padding: 4px;
}
ol{
    list-style: lower-alpha;
}

#score{
    margin-top: 10px;
    width: 300px;
    height: 80px;
    background-color: aquamarine;
    border: 3px solid red;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin-left: 41%;
}
h3{
    text-align: center;
    color: navy;
}
